﻿@model myapp.Models.UserModel

@{
    ViewBag.Title = "EditUser";
    Layout = "~/Views/Shared/Template.cshtml";
    var user = ViewBag.user;
    var cur_user = Session["cur_user"];
}

@*<h2>EditUser</h2>*@
@if (cur_user != null)
{
    var cur_user_id = int.Parse(cur_user.ToString());
    if (cur_user_id == @user.Id)
    {

        <link rel="stylesheet" href="~/Content/css/etalage.css">
        <script src="~/Scripts/js/jquery.etalage.min.js"></script>
        <style>
            hr {
                display: block;
                margin-top: 0.5em;
                margin-bottom: 0.5em;
                margin-left: auto;
                margin-right: auto;
                border-style: inset;
                border-width: 1px;
            }
        </style>
        <script>
			jQuery(document).ready(function($){

				$('#etalage').etalage({
					thumb_image_width: 300,
					thumb_image_height: 400,
					source_image_width: 900,
					source_image_height: 1200,
					show_hint: true,
					click_callback: function(image_anchor, instance_id){
						alert('Callback example:\nYou clicked on an image with the anchor: "'+image_anchor+'"\n(in Etalage instance: "'+instance_id+'")');
					}
				});

			});
        </script>
        <!-- the jScrollPane script -->
        <script type="text/javascript" src="~/Scripts/js/jquery.jscrollpane.min.js"></script>
        <script type="text/javascript" id="sourcecode">
			$(function()
			{
				$('.scroll-pane').jScrollPane();
			});
        </script>

        <div class="container">
            <div class="women_main">
                <div class="row single">
                    <div class="col-md-9">

                        @if (@ViewBag.user != null && Session["authorized"] != null)
                        {
                            if (Session["authorized"].ToString().Equals("True"))
                            {
                                <div class="single_left">
                                    <div class="grid images_3_of_2">

                                        <ul style="list-style-type:none;">
                                            <li>
                                                <img class="img-responsive" src="~/Content/images/profile.jpg" width="200" height="200" />
                                                @*  <img class="img-responsive" src="~/Content/images/pp.png" title="" width="200" height="200" />*@
                                            </li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="desc1 span_3_of_2">
                                        <div class="registration_form">
                                            @using (Html.BeginForm("edit", "User", FormMethod.Post, new { id = "edit_form" }))
                                            {
                                                <fieldset>
                                                        @Html.HiddenFor(model=>model.Id, new { @value=@user.Id})
                                                       @* @Html.TextBoxFor(model => model.Id, new { Value= @user.Id, visibility="hidden"})*@
                                                    <div>
                                                        @Html.LabelFor(model => model.FirstName)
                                                        @Html.TextBoxFor(model => model.FirstName, new { placeholder = "First Name", Value = @user.FirstName })
                                                        @Html.ValidationMessageFor(model => model.FirstName)
                                                    </div>
                                                    <div>
                                                        @Html.LabelFor(model => model.LastName)
                                                        @Html.TextBoxFor(model => model.LastName, new { placeholder = "Last Name", Value = @user.LastName })
                                                        @Html.ValidationMessageFor(model => model.LastName)
                                                    </div>
                                                    <div>
                                                        @Html.LabelFor(model => model.Email)
                                                        @Html.TextBoxFor(model => model.Email, new { placeholder = "Email Address", Value = @user.Email})
                                                        @Html.ValidationMessageFor(model => model.Email)
                                                    </div>
                                                    <div>
                                                        @Html.LabelFor(model => model.Address)
                                                        @Html.TextBoxFor(model => model.Address, new { placeholder = "Address", Value = @user.Address })
                                                        @Html.ValidationMessageFor(model => model.Address)
                                                    </div>
                                                    <div>
                                                        @Html.LabelFor(model => model.Phone)
                                                        @Html.TextBoxFor(model => model.Phone, new { placeholder = " Phone number", Value = @user.Phone })
                                                        @Html.ValidationMessageFor(model => model.Phone)
                                                    </div>
                                                    <div>
                                                        @Html.LabelFor(model => model.Password)
                                                        @Html.PasswordFor(model => model.Password, new { placeholder = "Password", id="pw1" })
                                                        @Html.ValidationMessageFor(model => model.Password)
                                                    </div>
                                                    <div>
                                                        @Html.PasswordFor(model => model.Password, new { placeholder = "Retype Password", id="pw2" })
                                                        @Html.ValidationMessageFor(model => model.Password)
                                                    </div>
                                                    @Html.HiddenFor(model => model.Password, new {Value=@user.Password, id="old-p" })
                                                    @*<input value=@user.Password hidden />*@
                                                    <input type="submit" value="Save changes" id="edit-submit" />
                                                </fieldset>
                                            }
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                @*  <p class="prod-desc">@user.FirstName</p>*@

                            }
                        }
                    </div>
                    <div class="col-md-3">
                        <div class="w_sidebar">
                            <div class="w_nav1">
                                <h4>All</h4>
                                <ul>
                                    <li><a href="women.html">women</a></li>
                                    <li><a href="#">new arrivals</a></li>
                                    <li><a href="#">trends</a></li>
                                    <li><a href="#">boys</a></li>
                                    <li><a href="#">girls</a></li>
                                    <li><a href="#">sale</a></li>
                                </ul>
                            </div>
                            <h3>filter by</h3>
                            <section class="sky-form">
                                <h4>catogories</h4>
                                <div class="row1 scroll-pane">
                                    <div class="col col-4">
                                        <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>kurtas</label>
                                    </div>
                                    <div class="col col-4">
                                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>kutis</label>
                                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>churidar kurta</label>
                                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>salwar</label>
                                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>printed sari</label>
                                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>shree</label>
                                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Anouk</label>
                                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>biba</label>
                                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>fashion sari</label>
                                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>fashion sari</label>
                                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>fashion sari</label>
                                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>fashion sari</label>
                                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>fashion sari</label>
                                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>fashion sari</label>
                                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>fashion sari</label>
                                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>fashion sari</label>
                                    </div>
                                </div>
                            </section>
                            <section class="sky-form">
                                <h4>brand</h4>
                                <div class="row1 scroll-pane">
                                    <div class="col col-4">
                                        <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>shree</label>
                                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Anouk</label>
                                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>biba</label>
                                    </div>
                                    <div class="col col-4">
                                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>vishud</label>
                                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>amari</label>
                                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>shree</label>
                                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Anouk</label>
                                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>biba</label>
                                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>shree</label>
                                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Anouk</label>
                                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>biba</label>
                                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>shree</label>
                                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Anouk</label>
                                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>biba</label>
                                    </div>
                                </div>
                            </section>
                            <section class="sky-form">
                                <h4>colour</h4>
                                <ul class="w_nav2">
                                    <li><a class="color1" href="#"></a></li>
                                    <li><a class="color2" href="#"></a></li>
                                    <li><a class="color3" href="#"></a></li>
                                    <li><a class="color4" href="#"></a></li>
                                    <li><a class="color5" href="#"></a></li>
                                    <li><a class="color6" href="#"></a></li>
                                    <li><a class="color7" href="#"></a></li>
                                    <li><a class="color8" href="#"></a></li>
                                    <li><a class="color9" href="#"></a></li>
                                    <li><a class="color10" href="#"></a></li>
                                    <li><a class="color12" href="#"></a></li>
                                    <li><a class="color13" href="#"></a></li>
                                    <li><a class="color14" href="#"></a></li>
                                    <li><a class="color15" href="#"></a></li>
                                    <li><a class="color5" href="#"></a></li>
                                    <li><a class="color6" href="#"></a></li>
                                    <li><a class="color7" href="#"></a></li>
                                    <li><a class="color8" href="#"></a></li>
                                    <li><a class="color9" href="#"></a></li>
                                    <li><a class="color10" href="#"></a></li>
                                </ul>
                            </section>
                            <section class="sky-form">
                                <h4>discount</h4>
                                <div class="row1 scroll-pane">
                                    <div class="col col-4">
                                        <label class="radio"><input type="radio" name="radio" checked=""><i></i>60 % and above</label>
                                        <label class="radio"><input type="radio" name="radio"><i></i>50 % and above</label>
                                        <label class="radio"><input type="radio" name="radio"><i></i>40 % and above</label>
                                    </div>
                                    <div class="col col-4">
                                        <label class="radio"><input type="radio" name="radio"><i></i>30 % and above</label>
                                        <label class="radio"><input type="radio" name="radio"><i></i>20 % and above</label>
                                        <label class="radio"><input type="radio" name="radio"><i></i>10 % and above</label>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    }
else
{
    <div style="font-size: 24px;">You are not authorized to edit this user's information.Please <a href="/User/login"><span style="text-decoration:underline; font-size: 24px;"> login</span> </a>  with this account or go to your own <a href="/User/Profile/@cur_user_id"><span style="text-decoration:underline; font-size: 24px;"> profile</span> </a> to edit.</div>
    }
}
else
{
    <div style="font-size: 24px;">You are not authorized to see this page. Please <a href="/User/login"><span style="text-decoration:underline; font-size: 24px;"> login </span> </a>
     or if you are a new user <a href="/User/login"><span style="text-decoration:underline; font-size: 24px;"> register </span> </a>.</div>
}
<script>
    $("#edit_form").submit(function (event) {
        //event.preventDefault();
        var p1 = $('#pw1').val();
        var p2 = $('#pw2').val();
        console.log(p1+p2);
        if (p1 == "" || p2 == "") {
            var old = $("#old-p").val();
            console.log(old);
            $("#pw1").val(old);
            $("#pw2").val(old);
        }
       
    });

</script>