﻿@model myapp.Models.UserModel

@{
    ViewBag.Title = "Index";
}
@{
    Layout = "~/Views/Shared/Template.cshtml";
}
<div class="container body-content">
    <div class="main">
        <div class="registration">
            <div class="registration_left">
                <h2>new user? <span> create a shoppe account </span></h2>
                <div class="registration_form">
                    @using (Html.BeginForm("register", "User", FormMethod.Post, new { id = "registration_form" }))
                    {
                        <fieldset>
                            <div>
                                @Html.LabelFor(model => model.FirstName)
                                @Html.TextBoxFor(model => model.FirstName, new { placeholder = "First Name", required = "required" })
                                @Html.ValidationMessageFor(model => model.FirstName)
                            </div>
                            <div>
                                @Html.LabelFor(model => model.LastName)
                                @Html.TextBoxFor(model => model.LastName, new { placeholder = "Last Name", required = "required" })
                                @Html.ValidationMessageFor(model => model.LastName)
                            </div>
                            <div>
                                @Html.LabelFor(model => model.Email)
                                @Html.TextBoxFor(model => model.Email, new { placeholder = "Email Address", required = "required" })
                                @Html.ValidationMessageFor(model => model.Email)
                            </div>
                            <div>
                                @Html.LabelFor(model => model.Password)
                                @Html.PasswordFor(model => model.Password, new { placeholder = "Password", required = "required" })
                                @Html.ValidationMessageFor(model => model.Password)
                            </div>
                            <div>
                                @Html.PasswordFor(model => model.Password, new { placeholder = "Retype Password", required = "required" })
                                @Html.ValidationMessageFor(model => model.Password)
                            </div>

                            <input type="submit" value="Create an account" id="register-submit" />
                            <div class="sky-form">
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>i agree to shoppe.com &nbsp;<a class="terms" href="#"> terms of service</a> </label>
                            </div>
                        </fieldset>
                    }


                </div>
            </div>
            <div class="registration_left">
                <h2>existing user</h2>
                <div class="registration_form">
                    @using (Html.BeginForm("login", "User", FormMethod.Post, new { id = "registration_form" }))
                    {
                        <fieldset>
                            <div>
                                @Html.LabelFor(model => model.Email)
                                @Html.TextBoxFor(model => model.Email, new { placeholder = "Email" })
                            </div>
                            <div>
                                @Html.LabelFor(model => model.Password)
                                @Html.PasswordFor(model => model.Password, new { placeholder = "Password" })
                            </div>
                            <div>
                                <input type="submit" value="Log in" id="register-submit" />
                            </div>
                            <div class="forget">
                                <a href="#">forgot your password</a>
                            </div>
                        </fieldset>
                    }
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
