﻿@model myapp.Models.UserModel

@{
    Layout = "~/Views/Shared/Template.cshtml";
    ViewBag.Title = "Profile";
}

@{
    var books = @ViewBag.books;
    var user = @ViewBag.user;
    int id = 0;
}

@if (user != null)
{
    id = @ViewBag.user.Id;
}
<link rel="stylesheet" href="~/Content/css/etalage.css">
<script src="~/Scripts/js/jquery.etalage.min.js"></script>
<style>
 hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
</style>
<script>
			jQuery(document).ready(function($){

				$('#etalage').etalage({
					thumb_image_width: 300,
					thumb_image_height: 400,
					source_image_width: 900,
					source_image_height: 1200,
					show_hint: true,
					click_callback: function(image_anchor, instance_id){
						alert('Callback example:\nYou clicked on an image with the anchor: "'+image_anchor+'"\n(in Etalage instance: "'+instance_id+'")');
					}
				});

			});
</script>
<!-- the jScrollPane script -->
<script type="text/javascript" src="~/Scripts/js/jquery.jscrollpane.min.js"></script>
<script type="text/javascript" id="sourcecode">
			$(function()
			{
				$('.scroll-pane').jScrollPane();
			});
</script> 

<div class="container">
    <div class="women_main">
        <div class="row single">
            <div class="col-md-9">

                @if (@ViewBag.user != null && Session["authorized"] != null)
                {

                    if (Session["authorized"].ToString().Equals("True"))
                    {
                        <div class="single_left">
                            <div class="grid images_3_of_2">

                                <ul style="list-style-type:none;">
                                    <li>
                                        <img class="img-responsive" src="~/Content/images/profile.jpg" width="200" height="200" />
                                        @*  <img class="img-responsive" src="~/Content/images/pp.png" title="" width="200" height="200" />*@
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="desc1 span_3_of_2">
                                <h2 style="font-family: 'Open Sans', sans-serif"><a href="/User/Profile/@id"> @ViewBag.user.FirstName @ViewBag.user.LastName </a> </h2>
                                
                                <dl>
                                    <dt>Address: </dt>
                                    <dd>
                                        @if (@user.Address != null)
                                        {@user.Address}
                                        else
                                        {<p>-</p>}
                                    </dd>
                                    <dt>Phone: </dt>
                                    <dd>
                                        @if (@user.Phone != null)
                                        {@user.Phone}
                                        else
                                        {<p>-</p>}
                                    </dd>
                                </dl>
                                @if (int.Parse(Session["cur_user"].ToString()) == @user.Id)
                                { <a style="text-decoration-line:underline" href="/User/edit/@user.Id">[Edit]</a>}
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="single-bottom1">
                            <h6>Books</h6>
                            @*<div id="books">
                        <h3><b>Books</b></h3>*@

                            <dl>
                                @if (@books == null)
                    {
                                    <dd><p class="prod-desc">-</p> </dd> }
                    else
                    {
                        foreach (var x in @books)
                        {
                                        <dd style="margin-left: 10px">
                                            <a href="/Book/select/@x.id"><p>@x.title</p></a>
                                            <h5><p class="prod-desc">by @x.author</p></h5>
                                        </dd>
                                        <dd><hr /></dd>
                                    }
                                }
                            </dl>
                        </div>

                        @*  <p class="prod-desc">@user.FirstName</p>*@

                    }
                }
                else
                {
                    <div style="font-size: 24px;"><a href="/User/login"><span style="text-decoration:underline; font-size: 24px;"> Login</span> </a> to see the content...</div>
                }
            </div>
            <div class="col-md-3">
                <div class="w_sidebar">
                    <div class="w_nav1">
                        <h4>All</h4>
                        <ul>
                            <li><a href="women.html">women</a></li>
                            <li><a href="#">new arrivals</a></li>
                            <li><a href="#">trends</a></li>
                            <li><a href="#">boys</a></li>
                            <li><a href="#">girls</a></li>
                            <li><a href="#">sale</a></li>
                        </ul>
                    </div>
                    <h3>filter by</h3>
                    <section class="sky-form">
                        <h4>catogories</h4>
                        <div class="row1 scroll-pane">
                            <div class="col col-4">
                                <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>kurtas</label>
                            </div>
                            <div class="col col-4">
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>kutis</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>churidar kurta</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>salwar</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>printed sari</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>shree</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Anouk</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>biba</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>fashion sari</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>fashion sari</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>fashion sari</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>fashion sari</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>fashion sari</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>fashion sari</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>fashion sari</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>fashion sari</label>
                            </div>
                        </div>
                    </section>
                    <section class="sky-form">
                        <h4>brand</h4>
                        <div class="row1 scroll-pane">
                            <div class="col col-4">
                                <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>shree</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Anouk</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>biba</label>
                            </div>
                            <div class="col col-4">
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>vishud</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>amari</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>shree</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Anouk</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>biba</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>shree</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Anouk</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>biba</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>shree</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Anouk</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>biba</label>
                            </div>
                        </div>
                    </section>
                    <section class="sky-form">
                        <h4>colour</h4>
                        <ul class="w_nav2">
                            <li><a class="color1" href="#"></a></li>
                            <li><a class="color2" href="#"></a></li>
                            <li><a class="color3" href="#"></a></li>
                            <li><a class="color4" href="#"></a></li>
                            <li><a class="color5" href="#"></a></li>
                            <li><a class="color6" href="#"></a></li>
                            <li><a class="color7" href="#"></a></li>
                            <li><a class="color8" href="#"></a></li>
                            <li><a class="color9" href="#"></a></li>
                            <li><a class="color10" href="#"></a></li>
                            <li><a class="color12" href="#"></a></li>
                            <li><a class="color13" href="#"></a></li>
                            <li><a class="color14" href="#"></a></li>
                            <li><a class="color15" href="#"></a></li>
                            <li><a class="color5" href="#"></a></li>
                            <li><a class="color6" href="#"></a></li>
                            <li><a class="color7" href="#"></a></li>
                            <li><a class="color8" href="#"></a></li>
                            <li><a class="color9" href="#"></a></li>
                            <li><a class="color10" href="#"></a></li>
                        </ul>
                    </section>
                    <section class="sky-form">
                        <h4>discount</h4>
                        <div class="row1 scroll-pane">
                            <div class="col col-4">
                                <label class="radio"><input type="radio" name="radio" checked=""><i></i>60 % and above</label>
                                <label class="radio"><input type="radio" name="radio"><i></i>50 % and above</label>
                                <label class="radio"><input type="radio" name="radio"><i></i>40 % and above</label>
                            </div>
                            <div class="col col-4">
                                <label class="radio"><input type="radio" name="radio"><i></i>30 % and above</label>
                                <label class="radio"><input type="radio" name="radio"><i></i>20 % and above</label>
                                <label class="radio"><input type="radio" name="radio"><i></i>10 % and above</label>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="clearfix"></div>
                </div>
            </div>
        </div>
