﻿<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
@model myapp.Models.UserModel
@{
    Layout = null;
}
<!DOCTYPE HTML>
<html>
<head>
    <title>@ViewBag.title</title>
    <link href="~/Content/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <!-- jQuery (necessary JavaScript plugins) -->
    <script type='text/javascript' src="~/Scripts/js/jquery-1.11.1.min.js"></script>
    <!-- Custom Theme files -->
    <link href="~/Content/css/style.css" rel='stylesheet' type='text/css' />
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--webfont-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <!-- start menu -->
    <link href="~/Content/css/megamenu.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="~/Scripts/js/megamenu.js"></script>
    <script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
    <script src="~/Scripts/js/menu_jquery.js"></script>
</head>
<body>
    <!-- header_top -->
    <div class="top_bg">
        <div class="container">
            <div class="header_top">
                <div class="top_left">
                    <h2><a href="#">50%off</a> use coupon code "big61" and get extra 33% off on orders above rs 2,229 </h2>
                </div>
                <div class="top_right">
                    <ul>
                        <li><a href="#">Recently viewed</a></li>|
                        <li><a href="contact.html">Contact</a></li>|
                        <li class="login">
                            <div id="loginContainer">
                                <a href="#" id="loginButton"><span>Login</span></a>
                                <div id="loginBox">
                                    @using (Html.BeginForm("login", "User", FormMethod.Post, new { id = "loginForm" }))
                                    {
                                        <fieldset id="body">
                                            <fieldset>
                                                @Html.LabelFor(model => model.Email)
                                                @Html.TextBoxFor(model => model.Email, new { id="email", name="email", placeholder = "Email" })
                                                @Html.ValidationMessageFor(model => model.Email)
                                            </fieldset>
                                            <fieldset>
                                                @Html.LabelFor(model => model.Password)
                                                @Html.PasswordFor(model => model.Password, new { id="password", email="password", placeholder = "Password" })
                                                @Html.ValidationMessageFor(model=> model.Password)
                                            </fieldset>
                                            <div>
                                                <input type="submit" value="Log in" id="login" />
                                            </div>
                                            <label for="checkbox"><input type="checkbox" id="checkbox"> <i>Remember me</i></label>
                                        </fieldset>
                                        <span><a href="#">Forgot your password?</a></span>
                                    }
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- header -->
    <div class="header_bg">
        <div class="container">
            <div class="header">
                <div class="logo">
                    <a href="index.html"><img src="~/Content/images/logo.png" alt="" /> </a>
                </div>
                <!-- start header_right -->
                <div class="header_right">
                    <div class="create_btn">
                        <a class="arrow" href="/Book/add">Add book<img src="~/Content/images/right_arrow.png" alt="" />  </a>
                    </div>
                    <ul class="icon1 sub-icon1 profile_img">
                        <li>
                            <a class="active-icon c2" href="#"> </a>
                            <ul class="sub-icon1 list">
                                <li><h3>shopping cart empty</h3><a href=""></a></li>
                                <li><p>if items in your wishlit are missing, <a href="">login to your account</a> to view them</p></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="icon1 sub-icon1 profile_img">
                        <li>
                            <a class="active-icon c1" href="#"> </a>
                            <ul class="sub-icon1 list">
                                <li><h3>wishlist empty</h3><a href=""></a></li>
                                <li><p>if items in your wishlit are missing, <a href="">login to your account</a> to view them</p></li>
                            </ul>
                        </li>
                    </ul>
                    <div class="search">
                        <form>
                            <input type="text" value="" placeholder="search...">
                            <input type="submit" value="">
                        </form>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!-- start header menu -->
                <ul class="megamenu skyblue">
                    <li><a class="color1" href="/Book/all">Home</a></li>
                    <li class="grid">
                        <a class="color2" href="#">new arrivals</a>
                        <div class="megapanel">
                            <div class="row">
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>shop</h4>
                                        <ul>
                                            <li><a href="women.html">new arrivals</a></li>
                                            <li><a href="women.html">men</a></li>
                                            <li><a href="women.html">women</a></li>
                                            <li><a href="women.html">accessories</a></li>
                                            <li><a href="women.html">kids</a></li>
                                            <li><a href="women.html">brands</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>help</h4>
                                        <ul>
                                            <li><a href="women.html">trends</a></li>
                                            <li><a href="women.html">sale</a></li>
                                            <li><a href="women.html">style videos</a></li>
                                            <li><a href="women.html">accessories</a></li>
                                            <li><a href="women.html">kids</a></li>
                                            <li><a href="women.html">style videos</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>my company</h4>
                                        <ul>
                                            <li><a href="women.html">trends</a></li>
                                            <li><a href="women.html">sale</a></li>
                                            <li><a href="women.html">style videos</a></li>
                                            <li><a href="women.html">accessories</a></li>
                                            <li><a href="women.html">kids</a></li>
                                            <li><a href="women.html">style videos</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>account</h4>
                                        <ul>
                                            <li><a href="women.html">login</a></li>
                                            <li><a href="women.html">create an account</a></li>
                                            <li><a href="women.html">create wishlist</a></li>
                                            <li><a href="women.html">my shopping bag</a></li>
                                            <li><a href="women.html">brands</a></li>
                                            <li><a href="women.html">create wishlist</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>my company</h4>
                                        <ul>
                                            <li><a href="women.html">trends</a></li>
                                            <li><a href="women.html">sale</a></li>
                                            <li><a href="women.html">style videos</a></li>
                                            <li><a href="women.html">accessories</a></li>
                                            <li><a href="women.html">kids</a></li>
                                            <li><a href="women.html">style videos</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>popular</h4>
                                        <ul>
                                            <li><a href="women.html">new arrivals</a></li>
                                            <li><a href="women.html">men</a></li>
                                            <li><a href="women.html">women</a></li>
                                            <li><a href="women.html">accessories</a></li>
                                            <li><a href="women.html">kids</a></li>
                                            <li><a href="women.html">style videos</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col2"></div>
                                <div class="col1"></div>
                                <div class="col1"></div>
                                <div class="col1"></div>
                                <div class="col1"></div>
                            </div>
                        </div>
                    </li>
                    <li class="active grid">
                        <a class="color4" href="#">women</a>
                        <div class="megapanel">
                            <div class="row">
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>shop</h4>
                                        <ul>
                                            <li><a href="women.html">new arrivals</a></li>
                                            <li><a href="women.html">men</a></li>
                                            <li><a href="women.html">women</a></li>
                                            <li><a href="women.html">accessories</a></li>
                                            <li><a href="women.html">kids</a></li>
                                            <li><a href="women.html">brands</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>help</h4>
                                        <ul>
                                            <li><a href="women.html">trends</a></li>
                                            <li><a href="women.html">sale</a></li>
                                            <li><a href="women.html">style videos</a></li>
                                            <li><a href="women.html">accessories</a></li>
                                            <li><a href="women.html">kids</a></li>
                                            <li><a href="women.html">style videos</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>my company</h4>
                                        <ul>
                                            <li><a href="women.html">trends</a></li>
                                            <li><a href="women.html">sale</a></li>
                                            <li><a href="women.html">style videos</a></li>
                                            <li><a href="women.html">accessories</a></li>
                                            <li><a href="women.html">kids</a></li>
                                            <li><a href="women.html">style videos</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>account</h4>
                                        <ul>
                                            <li><a href="women.html">login</a></li>
                                            <li><a href="women.html">create an account</a></li>
                                            <li><a href="women.html">create wishlist</a></li>
                                            <li><a href="women.html">my shopping bag</a></li>
                                            <li><a href="women.html">brands</a></li>
                                            <li><a href="women.html">create wishlist</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>my company</h4>
                                        <ul>
                                            <li><a href="women.html">trends</a></li>
                                            <li><a href="women.html">sale</a></li>
                                            <li><a href="women.html">style videos</a></li>
                                            <li><a href="women.html">accessories</a></li>
                                            <li><a href="women.html">kids</a></li>
                                            <li><a href="women.html">style videos</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>popular</h4>
                                        <ul>
                                            <li><a href="women.html">new arrivals</a></li>
                                            <li><a href="women.html">men</a></li>
                                            <li><a href="women.html">women</a></li>
                                            <li><a href="women.html">accessories</a></li>
                                            <li><a href="women.html">kids</a></li>
                                            <li><a href="women.html">style videos</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col2"></div>
                                <div class="col1"></div>
                                <div class="col1"></div>
                                <div class="col1"></div>
                                <div class="col1"></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a class="color5" href="#">accessories</a>
                        <div class="megapanel">
                            <div class="row">
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>shop</h4>
                                        <ul>
                                            <li><a href="women.html">new arrivals</a></li>
                                            <li><a href="women.html">men</a></li>
                                            <li><a href="women.html">women</a></li>
                                            <li><a href="women.html">accessories</a></li>
                                            <li><a href="women.html">kids</a></li>
                                            <li><a href="women.html">brands</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>help</h4>
                                        <ul>
                                            <li><a href="women.html">trends</a></li>
                                            <li><a href="women.html">sale</a></li>
                                            <li><a href="women.html">style videos</a></li>
                                            <li><a href="women.html">accessories</a></li>
                                            <li><a href="women.html">kids</a></li>
                                            <li><a href="women.html">style videos</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>my company</h4>
                                        <ul>
                                            <li><a href="women.html">trends</a></li>
                                            <li><a href="women.html">sale</a></li>
                                            <li><a href="women.html">style videos</a></li>
                                            <li><a href="women.html">accessories</a></li>
                                            <li><a href="women.html">kids</a></li>
                                            <li><a href="women.html">style videos</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>account</h4>
                                        <ul>
                                            <li><a href="women.html">login</a></li>
                                            <li><a href="women.html">create an account</a></li>
                                            <li><a href="women.html">create wishlist</a></li>
                                            <li><a href="women.html">my shopping bag</a></li>
                                            <li><a href="women.html">brands</a></li>
                                            <li><a href="women.html">create wishlist</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>my company</h4>
                                        <ul>
                                            <li><a href="women.html">trends</a></li>
                                            <li><a href="women.html">sale</a></li>
                                            <li><a href="women.html">style videos</a></li>
                                            <li><a href="women.html">accessories</a></li>
                                            <li><a href="women.html">kids</a></li>
                                            <li><a href="women.html">style videos</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>popular</h4>
                                        <ul>
                                            <li><a href="women.html">new arrivals</a></li>
                                            <li><a href="women.html">men</a></li>
                                            <li><a href="women.html">women</a></li>
                                            <li><a href="women.html">accessories</a></li>
                                            <li><a href="women.html">kids</a></li>
                                            <li><a href="women.html">style videos</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col2"></div>
                                <div class="col1"></div>
                                <div class="col1"></div>
                                <div class="col1"></div>
                                <div class="col1"></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a class="color6" href="#">kids</a>
                        <div class="megapanel">
                            <div class="row">
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>shop</h4>
                                        <ul>
                                            <li><a href="women.html">new arrivals</a></li>
                                            <li><a href="women.html">men</a></li>
                                            <li><a href="women.html">women</a></li>
                                            <li><a href="women.html">accessories</a></li>
                                            <li><a href="women.html">kids</a></li>
                                            <li><a href="women.html">brands</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>help</h4>
                                        <ul>
                                            <li><a href="women.html">trends</a></li>
                                            <li><a href="women.html">sale</a></li>
                                            <li><a href="women.html">style videos</a></li>
                                            <li><a href="women.html">accessories</a></li>
                                            <li><a href="women.html">kids</a></li>
                                            <li><a href="women.html">style videos</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>my company</h4>
                                        <ul>
                                            <li><a href="women.html">trends</a></li>
                                            <li><a href="women.html">sale</a></li>
                                            <li><a href="women.html">style videos</a></li>
                                            <li><a href="women.html">accessories</a></li>
                                            <li><a href="women.html">kids</a></li>
                                            <li><a href="women.html">style videos</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>account</h4>
                                        <ul>
                                            <li><a href="women.html">login</a></li>
                                            <li><a href="women.html">create an account</a></li>
                                            <li><a href="women.html">create wishlist</a></li>
                                            <li><a href="women.html">my shopping bag</a></li>
                                            <li><a href="women.html">brands</a></li>
                                            <li><a href="women.html">create wishlist</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>my company</h4>
                                        <ul>
                                            <li><a href="women.html">trends</a></li>
                                            <li><a href="women.html">sale</a></li>
                                            <li><a href="women.html">style videos</a></li>
                                            <li><a href="women.html">accessories</a></li>
                                            <li><a href="women.html">kids</a></li>
                                            <li><a href="women.html">style videos</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>popular</h4>
                                        <ul>
                                            <li><a href="women.html">new arrivals</a></li>
                                            <li><a href="women.html">men</a></li>
                                            <li><a href="women.html">women</a></li>
                                            <li><a href="women.html">accessories</a></li>
                                            <li><a href="women.html">kids</a></li>
                                            <li><a href="women.html">style videos</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col2"></div>
                                <div class="col1"></div>
                                <div class="col1"></div>
                                <div class="col1"></div>
                                <div class="col1"></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a class="color7" href="#">brands</a>
                        <div class="megapanel">
                            <div class="row">
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>shop</h4>
                                        <ul>
                                            <li><a href="women.html">new arrivals</a></li>
                                            <li><a href="women.html">men</a></li>
                                            <li><a href="women.html">women</a></li>
                                            <li><a href="women.html">accessories</a></li>
                                            <li><a href="women.html">kids</a></li>
                                            <li><a href="women.html">brands</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>help</h4>
                                        <ul>
                                            <li><a href="women.html">trends</a></li>
                                            <li><a href="women.html">sale</a></li>
                                            <li><a href="women.html">style videos</a></li>
                                            <li><a href="women.html">accessories</a></li>
                                            <li><a href="women.html">kids</a></li>
                                            <li><a href="women.html">style videos</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>my company</h4>
                                        <ul>
                                            <li><a href="women.html">trends</a></li>
                                            <li><a href="women.html">sale</a></li>
                                            <li><a href="women.html">style videos</a></li>
                                            <li><a href="women.html">accessories</a></li>
                                            <li><a href="women.html">kids</a></li>
                                            <li><a href="women.html">style videos</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>account</h4>
                                        <ul>
                                            <li><a href="women.html">login</a></li>
                                            <li><a href="women.html">create an account</a></li>
                                            <li><a href="women.html">create wishlist</a></li>
                                            <li><a href="women.html">my shopping bag</a></li>
                                            <li><a href="women.html">brands</a></li>
                                            <li><a href="women.html">create wishlist</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>my company</h4>
                                        <ul>
                                            <li><a href="women.html">trends</a></li>
                                            <li><a href="women.html">sale</a></li>
                                            <li><a href="women.html">style videos</a></li>
                                            <li><a href="women.html">accessories</a></li>
                                            <li><a href="women.html">kids</a></li>
                                            <li><a href="women.html">style videos</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>popular</h4>
                                        <ul>
                                            <li><a href="women.html">new arrivals</a></li>
                                            <li><a href="women.html">men</a></li>
                                            <li><a href="women.html">women</a></li>
                                            <li><a href="women.html">accessories</a></li>
                                            <li><a href="women.html">kids</a></li>
                                            <li><a href="women.html">style videos</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col2"></div>
                                <div class="col1"></div>
                                <div class="col1"></div>
                                <div class="col1"></div>
                                <div class="col1"></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a class="color8" href="#">trends</a>
                        <div class="megapanel">
                            <div class="row">
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>shop</h4>
                                        <ul>
                                            <li><a href="women.html">new arrivals</a></li>
                                            <li><a href="women.html">men</a></li>
                                            <li><a href="women.html">women</a></li>
                                            <li><a href="women.html">accessories</a></li>
                                            <li><a href="women.html">kids</a></li>
                                            <li><a href="women.html">brands</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>help</h4>
                                        <ul>
                                            <li><a href="women.html">trends</a></li>
                                            <li><a href="women.html">sale</a></li>
                                            <li><a href="women.html">style videos</a></li>
                                            <li><a href="women.html">accessories</a></li>
                                            <li><a href="women.html">kids</a></li>
                                            <li><a href="women.html">style videos</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>my company</h4>
                                        <ul>
                                            <li><a href="women.html">trends</a></li>
                                            <li><a href="women.html">sale</a></li>
                                            <li><a href="women.html">style videos</a></li>
                                            <li><a href="women.html">accessories</a></li>
                                            <li><a href="women.html">kids</a></li>
                                            <li><a href="women.html">style videos</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>account</h4>
                                        <ul>
                                            <li><a href="women.html">login</a></li>
                                            <li><a href="women.html">create an account</a></li>
                                            <li><a href="women.html">create wishlist</a></li>
                                            <li><a href="women.html">my shopping bag</a></li>
                                            <li><a href="women.html">brands</a></li>
                                            <li><a href="women.html">create wishlist</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>my company</h4>
                                        <ul>
                                            <li><a href="women.html">trends</a></li>
                                            <li><a href="women.html">sale</a></li>
                                            <li><a href="women.html">style videos</a></li>
                                            <li><a href="women.html">accessories</a></li>
                                            <li><a href="women.html">kids</a></li>
                                            <li><a href="women.html">style videos</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>popular</h4>
                                        <ul>
                                            <li><a href="women.html">new arrivals</a></li>
                                            <li><a href="women.html">men</a></li>
                                            <li><a href="women.html">women</a></li>
                                            <li><a href="women.html">accessories</a></li>
                                            <li><a href="women.html">kids</a></li>
                                            <li><a href="women.html">style videos</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col2"></div>
                                <div class="col1"></div>
                                <div class="col1"></div>
                                <div class="col1"></div>
                                <div class="col1"></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a class="color9" href="#">sale</a>
                        <div class="megapanel">
                            <div class="row">
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>shop</h4>
                                        <ul>
                                            <li><a href="women.html">new arrivals</a></li>
                                            <li><a href="women.html">men</a></li>
                                            <li><a href="women.html">women</a></li>
                                            <li><a href="women.html">accessories</a></li>
                                            <li><a href="women.html">kids</a></li>
                                            <li><a href="women.html">brands</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>help</h4>
                                        <ul>
                                            <li><a href="women.html">trends</a></li>
                                            <li><a href="women.html">sale</a></li>
                                            <li><a href="women.html">style videos</a></li>
                                            <li><a href="women.html">accessories</a></li>
                                            <li><a href="women.html">kids</a></li>
                                            <li><a href="women.html">style videos</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>my company</h4>
                                        <ul>
                                            <li><a href="women.html">trends</a></li>
                                            <li><a href="women.html">sale</a></li>
                                            <li><a href="women.html">style videos</a></li>
                                            <li><a href="women.html">accessories</a></li>
                                            <li><a href="women.html">kids</a></li>
                                            <li><a href="women.html">style videos</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>account</h4>
                                        <ul>
                                            <li><a href="women.html">login</a></li>
                                            <li><a href="women.html">create an account</a></li>
                                            <li><a href="women.html">create wishlist</a></li>
                                            <li><a href="women.html">my shopping bag</a></li>
                                            <li><a href="women.html">brands</a></li>
                                            <li><a href="women.html">create wishlist</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>my company</h4>
                                        <ul>
                                            <li><a href="women.html">trends</a></li>
                                            <li><a href="women.html">sale</a></li>
                                            <li><a href="women.html">style videos</a></li>
                                            <li><a href="women.html">accessories</a></li>
                                            <li><a href="women.html">kids</a></li>
                                            <li><a href="women.html">style videos</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>popular</h4>
                                        <ul>
                                            <li><a href="women.html">new arrivals</a></li>
                                            <li><a href="women.html">men</a></li>
                                            <li><a href="women.html">women</a></li>
                                            <li><a href="women.html">accessories</a></li>
                                            <li><a href="women.html">kids</a></li>
                                            <li><a href="women.html">style videos</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col2"></div>
                                <div class="col1"></div>
                                <div class="col1"></div>
                                <div class="col1"></div>
                                <div class="col1"></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a class="color10" href="contact.html">Contact</a>
                        <div class="megapanel">
                            <div class="row">
                                <div class="col3">
                                    <div class="h_nav">
                                        <h4>contact us</h4>
                                    </div>
                                    <form class="contact">
                                        <label for="name">Name</label>
                                        <input id="name" type="text" />
                                        <label for="email">E-mail</label>
                                        <input id="email" type="text" />
                                        <label for="message">Message</label>
                                        <textarea rows="8" id="message"></textarea>
                                        <input type="submit" value="Send" />
                                    </form>
                                </div>
                                <div class="col3">
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>


   
            @RenderBody()
  
        <!--footer (categories part, contact part, and all rights reserved)-->
        <div class="footer_top">
            <div class="container">
                <div class="span_of_4">
                    <div class="span1_of_4">
                        <h4>Shop</h4>
                        <ul class="f_nav">
                            <li><a href="#">new arrivals</a></li>
                            <li><a href="#">men</a></li>
                            <li><a href="#">women</a></li>
                            <li><a href="#">accessories</a></li>
                            <li><a href="#">kids</a></li>
                            <li><a href="#">brands</a></li>
                            <li><a href="#">trends</a></li>
                            <li><a href="#">sale</a></li>
                            <li><a href="#">style videos</a></li>
                        </ul>
                    </div>
                    <div class="span1_of_4">
                        <h4>help</h4>
                        <ul class="f_nav">
                            <li><a href="#">frequently asked  questions</a></li>
                            <li><a href="#">men</a></li>
                            <li><a href="#">women</a></li>
                            <li><a href="#">accessories</a></li>
                            <li><a href="#">kids</a></li>
                            <li><a href="#">brands</a></li>
                        </ul>
                        <h4 class="top">company name</h4>
                        <ul class="f_nav">
                            <li><a href="#">frequently asked  questions</a></li>
                            <li><a href="#">men</a></li>
                            <li><a href="#">women</a></li>
                            <li><a href="#">accessories</a></li>
                            <li><a href="#">kids</a></li>
                            <li><a href="#">brands</a></li>
                        </ul>
                    </div>
                    <div class="span1_of_4">
                        <h4>account</h4>
                        <ul class="f_nav">
                            <li><a href="#">login</a></li>
                            <li><a href="#">create an account</a></li>
                            <li><a href="#">create wishlist</a></li>
                            <li><a href="#">my shopping bag</a></li>
                            <li><a href="#">brands</a></li>
                            <li><a href="#">create wishlist</a></li>
                        </ul>
                        <h4 class="top">style zone</h4>
                        <ul class="f_nav">
                            <li><a href="#">frequently asked  questions</a></li>
                            <li><a href="#">men</a></li>
                            <li><a href="#">women</a></li>
                            <li><a href="#">accessories</a></li>
                            <li><a href="#">kids</a></li>
                            <li><a href="#">brands</a></li>
                        </ul>
                    </div>
                    <div class="span1_of_4">
                        <h4>popular</h4>
                        <ul class="f_nav">
                            <li><a href="#">new arrivals</a></li>
                            <li><a href="#">men</a></li>
                            <li><a href="#">women</a></li>
                            <li><a href="#">accessories</a></li>
                            <li><a href="#">kids</a></li>
                            <li><a href="#">brands</a></li>
                            <li><a href="#">trends</a></li>
                            <li><a href="#">sale</a></li>
                            <li><a href="#">style videos</a></li>
                            <li><a href="#">login</a></li>
                            <li><a href="#">brands</a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!-- start span_of_2 -->
                <div class="span_of_2">
                    <div class="span1_of_2">
                        <h5>need help? <a href="#">contact us <span> ></span> </a> </h5>
                        <p>(or) Call us: +91-70-45022088</p>
                    </div>
                    <div class="span1_of_2">
                        <h5>follow us </h5>
                        <div class="social-icons">
                            <ul>
                                <li><a href="#" target="_blank"></a></li>
                                <li><a href="#" target="_blank"></a></li>
                                <li><a href="#" target="_blank"></a></li>
                                <li><a href="#" target="_blank"></a></li>
                                <li><a href="#" target="_blank"></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- footer -->
        <div class="footer">
            <div class="container">
                <div class="copy">
                    <p class="link">&copy; All rights reserved | Design by&nbsp; <a href="http://w3layouts.com/"> W3Layouts</a></p>
                </div>
            </div>
        </div>
</body>
</html>