﻿@model myapp.Models.BookModel

@{
    ViewBag.Title = "AddBook";
    Layout = "~/Views/Shared/Template.cshtml";

    var cur_user = Session["cur_user"];

    List<SelectListItem> genres = ViewBag.genres;
    List<SelectListItem> langs = ViewBag.langs;
    List<SelectListItem> conds = ViewBag.conds;
    List<SelectListItem> stats = ViewBag.stats; }

   <link rel="stylesheet" href="~/Content/css/etalage.css">
    <script src="~/Scripts/js/jquery.etalage.min.js"></script>
        <style>
            hr {
                display: block;
                margin-top: 0.5em;
                margin-bottom: 0.5em;
                margin-left: auto;
                margin-right: auto;
                border-style: inset;
                border-width: 1px;
            }
        </style>
        <script>
			jQuery(document).ready(function($){

				$('#etalage').etalage({
					thumb_image_width: 300,
					thumb_image_height: 400,
					source_image_width: 900,
					source_image_height: 1200,
					show_hint: true,
					click_callback: function(image_anchor, instance_id){
						alert('Callback example:\nYou clicked on an image with the anchor: "'+image_anchor+'"\n(in Etalage instance: "'+instance_id+'")');
					}
				});

			});
        </script>
        <!-- the jScrollPane script -->
        <script type="text/javascript" src="~/Scripts/js/jquery.jscrollpane.min.js"></script>
        <script type="text/javascript" id="sourcecode">
			$(function()
			{
				$('.scroll-pane').jScrollPane();
			});
        </script>

        <div class="container">
            <div class="women_main">
                <div class="row single">
                    <div class="col-md-9">
                        <div class="single_left">
@if (cur_user != null && Session["authorized"] != null && Session["authorized"].ToString() == "True")
{

                            <div class="grid images_3_of_2">

                                        <ul style="list-style-type:none;">
                                            <li>
                                                <img class="img-responsive" src="~/Content/images/profile.jpg" width="200" height="200" />
                                                @*  <img class="img-responsive" src="~/Content/images/pp.png" title="" width="200" height="200" />*@
                                            </li>
                                        </ul>
                                        <div class="clearfix"></div>
                            </div>
                            <div class="desc1 span_3_of_2">
                                <div class="registration_form">
                                    @using (Html.BeginForm("add", "Book", FormMethod.Post, new { id = "book_add_form" , enctype = "multipart/form-data" }))
                                    {
                                        <fieldset>
                                            <div>
                                                @Html.LabelFor(model => model.title)
                                                @Html.TextBoxFor(model => model.title, new { placeholder = "Title of the book" })
                                                @Html.ValidationMessageFor(model => model.title)
                                            </div>
                                            <div>
                                                @Html.LabelFor(model => model.author)
                                                @Html.TextBoxFor(model => model.author, new { placeholder = "Author of the book" })
                                                @Html.ValidationMessageFor(model => model.author)
                                            </div>
                                            <div>
                                                @Html.LabelFor(model => model.genre)
                                                @Html.DropDownListFor(model => model.genre_id, genres)
                                                @Html.ValidationMessageFor(model => model.genre)
                                            </div>
                                            <div>
                                                @Html.LabelFor(model => model.published)
                                                @Html.TextBoxFor(model => model.published, new { type = "date" })
                                                @Html.ValidationMessageFor(model => model.published)
                                            </div>
                                            <div>
                                                @Html.LabelFor(model => model.language)
                                                @Html.DropDownListFor(model => model.lang_id, langs)
                                                @Html.ValidationMessageFor(model => model.language)
                                            </div>
                                            <div>
                                                @Html.LabelFor(model => model.condition)
                                                @Html.DropDownListFor(model => model.cond_id, conds)
                                                @Html.ValidationMessageFor(model => model.condition)
                                            </div>
                                            <div>
                                                @Html.LabelFor(model => model.pages)
                                                @Html.TextBoxFor(model => model.pages)
                                                @Html.ValidationMessageFor(model => model.pages)
                                            </div>
                                            <div>
                                                @Html.LabelFor(model => model.summary)
                                                @Html.TextAreaFor(model => model.summary)
                                                @Html.ValidationMessageFor(model => model.summary)
                                            </div>
                                            <div>
                                                @Html.LabelFor(model => model.status)
                                                @Html.DropDownListFor(model => model.stat_id, stats)
                                                @Html.ValidationMessageFor(model => model.status)
                                            </div>
                                            @*<input type="file" name="file" />*@
                                            @Html.TextBox("file", "", new { type = "file" })         
                                            @Html.HiddenFor(model => model.owner_id, new { Value = int.Parse(Session["cur_user"].ToString())})
                                            <input type="submit" value="Add" id="add-book-submit" />
                                        </fieldset>
                                    }
                            </div>
                        </div>
                            }
                            else
                            {
                                <div> <p style="font-size: 2em;">Please <a href="/User/login" style="text-decoration:underline">Login</a> to see the content.</p></div>
                            }
                    </div>
                </div>
            </div>
        </div>
    </div>






















                       