﻿@model myapp.Models.BookModel

@{  

    ViewBag.Title = "AllBooks";
    Layout = "~/Views/Shared/Template.cshtml";
    List <myapp.Models.BookModel> books = ViewBag.books;
    int start = ViewBag.start;
    int count = ViewBag.count;
    int all = ViewBag.all;
}
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class="container">
    <div class="women_main">
        <!-- start sidebar -->
        <div class="col-md-3">
            <div class="w_sidebar">
                <div class="w_nav1">
                    <h4>All</h4>
                    <ul>
                        <li><a href="women.html">women</a></li>
                        <li><a href="#">new arrivals</a></li>
                        <li><a href="#">trends</a></li>
                        <li><a href="#">boys</a></li>
                        <li><a href="#">girls</a></li>
                        <li><a href="#">sale</a></li>
                    </ul>
                </div>
                
                @using (Html.BeginForm("filter", "Book", FormMethod.Post,  new { id = "book_filter_form" }))
                {

                    <section class="sky-form">
                        <h3><input type="submit" value="Filter" /></h3>
                        <h4>Genres</h4>
                        <div class="row1 scroll-pane">
                            <div class="col col-4">
                                @foreach (myapp.Models.Genre g in ViewBag.genres)
                                {                                
                                <label id="ll" class="checkbox">
                                    @Html.CheckBox("genre", new { @value="@g.genre_id"} )<i></i>@g.genre_name
                                    
                                @*<input type="checkbox" name="genre" value="@g.genre_id"><i></i>@g.genre_name*@
                                </label>
                                }
                            </div>
                        </div>
                    </section>
                    <section class="sky-form">
                        <h4>Language</h4>
                        <div class="row1 scroll-pane">
                            <div class="col col-4">
                                @foreach (var l in ViewBag.langs)
                                {
                                    <label class="checkbox">
                                <input type="checkbox" name="lang" value="@l.lang_id"><i></i>@l.lang
                                    </label>
                                }
                            </div>
                        </div>
                    </section>
                    <section class="sky-form">
                        <h4>condition</h4>
                        <div class="row1 scroll-pane">
                            <div class="col col-4">
                                <label class="checkbox"><input type="checkbox" name="cond" value="1"><i></i>New</label>
                                <label class="checkbox"><input type="checkbox" name="cond" value="2"><i></i>Used-like-new</label>
                                <label class="checkbox"><input type="checkbox" name="cond" value="3"><i></i>Used-very-good</label>
                            </div>
                            <div class="col col-4">
                                <label class="checkbox"><input type="checkbox" name="cond" value="4"><i></i>Used-good</label>
                                <label class="checkbox"><input type="checkbox" name="cond" value="5"><i></i>Used-acceptable</label>
                            </div>
                        </div>
                    </section>
                    <section class="sky-form">
                        <h4>rate</h4>
                        <div class="row1 scroll-pane">
                            <div class="col col-4">
                                <label class="radio"><input type="radio" name="rate" value="0"><i></i>0 star and above</label>
                                <label class="radio"><input type="radio" name="rate" value="1"><i></i>1 star and above</label>
                                <label class="radio"><input type="radio" name="rate" value="2"><i></i>2 stars and above</label>
                            </div>
                            <div class="col col-4">
                                <label class="radio"><input type="radio" name="rate" value="3"><i></i>3 stars and above</label>
                                <label class="radio"><input type="radio" name="rate" value="4"><i></i>4 stars and above</label>
                                <label class="radio"><input type="radio" name="rate" value="5"><i></i>5 stars only</label>
                            </div>
                        </div>
                    </section>
                    <section class="sky-form">
                        <h4>Status</h4>
                        <div class="row1 scroll-pane">
                            <div class="col col-4">
                                <label class="checkbox"><input type="checkbox" name="stat" value="1"><i></i>Active</label>
                                <label class="checkbox"><input type="checkbox" name="stat" value="2"><i></i>Closed</label>
                            </div>
                        </div>
                    </section>
                }
</div>
        </div>
        <!-- start content -->
       @Html.Partial("BookPartial", Model)
<div class="clearfix"></div>
        
<!-- end content -->
</div>
</div>
<script>
    
    $(document).ready(function () {
        while(true){
            var x = document.querySelector("input[type=\"hidden\"]");
            if (x == null) { break;}
        var p = document.getElementById("ll").removeChild(x);
        }
        });


</script>
