﻿@model myapp.Models.BookModel

@{
    List<myapp.Models.BookModel> books = ViewBag.books;
    int start = ViewBag.start;
    int count = ViewBag.count;
    int all = ViewBag.all;
}

<div class="col-md-9 w_content">
    <div class="women">
        <a href="#"><h4>Enthecwear - <span>4449 itemms</span> </h4></a>
        <ul class="w_nav">
            <li>Sort : </li>
            <li><a class="active" href="#">popular</a></li> |
            <li><a href="#">new </a></li> |
            <li><a href="#">discount</a></li> |
            <li><a href="#">price: Low High </a></li>
            @*<div class="clear"></div>*@
        </ul>
        <div class="clearfix"></div>
    </div>
    <!-- grids_of_4 -->
    @for (int i = 0; i < all / 4 + 1; i++)
    {
        <div class="grids_of_4">
            @for (int j = 0; j < 4 && books.Any(); j++)
                {
                <div class="grid1_of_4">
                    <div class="content_box">
                        <div class="view view-fifth">
                            <a href="/Book/select/@books[0].id">
                                <img src="@Url.Content(@books[0].img.path)" class="img-responsive" alt="" style="height:250px; width: 210px">
                                <div class="mask">
                                    <div class="info">Quick View</div>
                                </div>
                            </a>
                        </div>
                        <h4><a href="/Book/select/@books[0].id"> @books[0].title</a></h4>
                        <p>@books[0].author</p>
                        @books[0].status.stat
                    </div>
                </div>
                    <p hidden>@books.Remove(books[0])</p>
            }
            <div class="clearfix"></div>
        </div>
    }
    <div align="center">
        <ul class="pagination">
            @{
                var x = Math.Ceiling((1.0 * all) / count);
                for (int i = 0; i < x; i++)
                {
                    if (i == start / count)
                    {
                        <li class="active"> @Html.ActionLink("" + (i + 1), "all_c", "Book", new { start = i * @count + 1, count = @count }, null) </li>
                    }
                    else
                    {
                        <li> @Html.ActionLink("" + (i + 1), "all_c", "Book", new { start = i * @count + 1, count = @count }, null) </li>
                    }
                }
            }
        </ul>
        @*@start + @count+ @all*@
    </div>
    <!-- end grids_of_4 -->
</div>