﻿@model myapp.Models.BookModel

@{
    ViewBag.Title = "Book";
    Layout = "~/Views/Shared/Template.cshtml";
    var book = @ViewBag.book;
}
<link rel="stylesheet" href="~/Content/css/etalage.css">
<script src="~/Scripts/js/jquery.etalage.min.js"></script>
<script>
			jQuery(document).ready(function($){

				$('#etalage').etalage({
					thumb_image_width: 300,
					thumb_image_height: 400,
					source_image_width: 900,
					source_image_height: 1200,
					show_hint: true,
					click_callback: function(image_anchor, instance_id){
						alert('Callback example:\nYou clicked on an image with the anchor: "'+image_anchor+'"\n(in Etalage instance: "'+instance_id+'")');
					}
				});

			});
</script>
<!-- the jScrollPane script -->
<script type="text/javascript" src="~/Scripts/js/jquery.jscrollpane.min.js"></script>
<script type="text/javascript" id="sourcecode">
			$(function()
			{
				$('.scroll-pane').jScrollPane();
			});
</script> 

<div class="container">
    <div class="women_main">
        <!-- start content -->
        <div class="row single">
            <div class="col-md-9">
                <div class="single_left">
                    <div class="grid images_3_of_2">
                        <ul id="etalage">
                            <li>
                                <a href="#">
                                    <img class="etalage_thumb_image" src="@Url.Content(@book.img.path)" class="img-responsive" />
                                    <img class="etalage_source_image" src="@Url.Content(@book.img.path)" class="img-responsive" title="" />
                                </a>
                            </li>
                            @*<li>
                                <img class="etalage_thumb_image" src="~/Content/images/d2.jpg" class="img-responsive" />
                                <img class="etalage_source_image" src="~/Content/images/d2.jpg" class="img-responsive" title="" />
                            </li>
                            <li>
                                <img class="etalage_thumb_image" src="~/Content/images/d3.jpg" class="img-responsive" />
                                <img class="etalage_source_image" src="~/Content/images/d3.jpg" class="img-responsive" />
                            </li>
                            <li>
                                <img class="etalage_thumb_image" src="~/Content/images/d4.jpg" class="img-responsive" />
                                <img class="etalage_source_image" src="~/Content/images/d4.jpg" class="img-responsive" />
                            </li>*@
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="desc1 span_3_of_2">
                        <h3>@book.title</h3>
                        <h4> By : <em> @book.author</em> </h4>
                        <h5>Genre :  @book.genre.genre_name </h5>
                        <dl>
                            <dt>Details</dt>
                            <dd>
                                <span style="font-size:small">
                                    Published on : @if (@book.published != null)
                                    {@book.published.ToString("dd/MM/yyyy")}
                                    else
                                    { <b>-</b>}
                                </span>
                            </dd>
                            <dd>
                                <span style="font-size:small">
                                    Language : @if (@book.language != null)
                                    {@book.language.lang}
                                    else
                                    { <b>-</b>}
                                </span>
                            </dd>
                            <dd>
                                <span style="font-size:small">
                                    Condition : @if (@book.condition != null)
                                    {@book.condition.cond}
                                    else
                                    { <b>-</b>}
                                </span>
                            </dd>
                            <dd>
                                <span style="font-size:small">
                                    Pages : @if (@book.pages != null && @book.pages > 0)
                                    {@book.pages}
                                    else
                                    { <b>-</b>}
                                </span>
                            </dd>
                            <dd>
                                <span style="font-size:small">
                                    Rate : @if (@book.rate != null && book.rate >= 0)
                                    {@book.rate }
                                    else
                                    {<b>-</b> }
                                </span>
                            </dd>
                        </dl>
                        <p>
                        @book.status.stat 
                        <a href="/User/Profile/@book.owner.Id">owner : @book.owner.FirstName @book.owner.LastName</a>
                        </p>
                        <div class="btn_form">
                            <a href="buy.html">Place a bid</a>
                        </div>
                        @if (Session["authorized"] == null) {
                            <a href="/User/login"><span>login to save in wishlist </span></a>
                        }
                        else
                        {
                            <a href="#"><span> add to wishlist </span></a>
                        }
                    </div>
                    <div class="clearfix"></div>
                </div>
                @if (@book.summary != null){
                <div class="single-bottom1">
                    <h6>Summary</h6>
                    <p  style="margin-left:5px" class="prod-desc">@book.summary</p>
                </div>
                }
                <div class="single-bottom2">
                    <h6>Other books</h6>
                    <div class="product">
                        <div class="product-desc">
                            <div class="product-img">
                                <img src="~/Content/images/pic1.jpg" class="img-responsive " alt="" />
                            </div>
                            <div class="prod1-desc">
                                <h5><a class="product_link" href="#">Excepteur sint</a></h5>
                                <p class="product_descr"> Vivamus ante lorem, eleifend nec interdum non, ullamcorper et arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="product_price">
                            <span class="price-access">$597.51</span>
                            <button class="button1"><span>Add to cart</span></button>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="product">
                        <div class="product-desc">
                            <div class="product-img">
                                <img src="~/Content/images/pic2.jpg" class="img-responsive " alt="" />
                            </div>
                            <div class="prod1-desc">
                                <h5><a class="product_link" href="#">Excepteur sint</a></h5>
                                <p class="product_descr"> Vivamus ante lorem, eleifend nec interdum non, ullamcorper et arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="product_price">
                            <span class="price-access">$597.51</span>
                            <button class="button1"><span>Add to cart</span></button>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="w_sidebar">
                    <div class="w_nav1">
                        <h4>All</h4>
                        <ul>
                            <li><a href="women.html">women</a></li>
                            <li><a href="#">new arrivals</a></li>
                            <li><a href="#">trends</a></li>
                            <li><a href="#">boys</a></li>
                            <li><a href="#">girls</a></li>
                            <li><a href="#">sale</a></li>
                        </ul>
                    </div>
                    <h3>filter by</h3>
                    <section class="sky-form">
                        <h4>catogories</h4>
                        <div class="row1 scroll-pane">
                            <div class="col col-4">
                                <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>kurtas</label>
                            </div>
                            <div class="col col-4">
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>kutis</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>churidar kurta</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>salwar</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>printed sari</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>shree</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Anouk</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>biba</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>fashion sari</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>fashion sari</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>fashion sari</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>fashion sari</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>fashion sari</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>fashion sari</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>fashion sari</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>fashion sari</label>
                            </div>
                        </div>
                    </section>
                    <section class="sky-form">
                        <h4>brand</h4>
                        <div class="row1 scroll-pane">
                            <div class="col col-4">
                                <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>shree</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Anouk</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>biba</label>
                            </div>
                            <div class="col col-4">
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>vishud</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>amari</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>shree</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Anouk</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>biba</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>shree</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Anouk</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>biba</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>shree</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Anouk</label>
                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>biba</label>
                            </div>
                        </div>
                    </section>
                    <section class="sky-form">
                        <h4>colour</h4>
                        <ul class="w_nav2">
                            <li><a class="color1" href="#"></a></li>
                            <li><a class="color2" href="#"></a></li>
                            <li><a class="color3" href="#"></a></li>
                            <li><a class="color4" href="#"></a></li>
                            <li><a class="color5" href="#"></a></li>
                            <li><a class="color6" href="#"></a></li>
                            <li><a class="color7" href="#"></a></li>
                            <li><a class="color8" href="#"></a></li>
                            <li><a class="color9" href="#"></a></li>
                            <li><a class="color10" href="#"></a></li>
                            <li><a class="color12" href="#"></a></li>
                            <li><a class="color13" href="#"></a></li>
                            <li><a class="color14" href="#"></a></li>
                            <li><a class="color15" href="#"></a></li>
                            <li><a class="color5" href="#"></a></li>
                            <li><a class="color6" href="#"></a></li>
                            <li><a class="color7" href="#"></a></li>
                            <li><a class="color8" href="#"></a></li>
                            <li><a class="color9" href="#"></a></li>
                            <li><a class="color10" href="#"></a></li>
                        </ul>
                    </section>
                    <section class="sky-form">
                        <h4>discount</h4>
                        <div class="row1 scroll-pane">
                            <div class="col col-4">
                                <label class="radio"><input type="radio" name="radio" checked=""><i></i>60 % and above</label>
                                <label class="radio"><input type="radio" name="radio"><i></i>50 % and above</label>
                                <label class="radio"><input type="radio" name="radio"><i></i>40 % and above</label>
                            </div>
                            <div class="col col-4">
                                <label class="radio"><input type="radio" name="radio"><i></i>30 % and above</label>
                                <label class="radio"><input type="radio" name="radio"><i></i>20 % and above</label>
                                <label class="radio"><input type="radio" name="radio"><i></i>10 % and above</label>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <!-- end content -->
    </div>
</div>           